{% extends 'base.html.twig' %}

{% block title %}Typebiere index
{% endblock %}

{% block body %}
<div class = bg>
	<br><br>
	<h1>{% trans %}Type de Bière{% endtrans %}
	</h1>
	<br>
	<a href="{{ path('app_typebiere_new') }}">
		<button class="btn btn-outline-success">{% trans %}Ajouter une nouvelle type de bière{% endtrans %}</button>
	</a>
	<div class="table-wrapper">
		<table class="fl-table">
			<br>
			<thead>
				<tr>
					<th>{% trans %}ID{% endtrans %}</th>
					<th>{% trans %}Nom de la Type de bière{% endtrans %}</th>
					<th>{% trans %}Actions{% endtrans %}</th>
				</tr>
			</thead>
			<tbody>
				{% for typebiere in typebieres %}
					<tr>
						<td>{{ typebiere.idType }}</td>
						<td>{{ typebiere.nomType }}</td>
						<td>
							<a href="{{ path('app_typebiere_show', {'idType': typebiere.idType}) }}">
								<i class="fa-solid fa-magnifying-glass fa-fade fa-lg" style="color: #370028;"></i>
							</a>
							<a href="{{ path('app_typebiere_edit', {'idType': typebiere.idType}) }}">
								<i class="fa-solid fa-pen-to-square fa-lg" style="color: #9e0e40;"></i>
							</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="3">{% trans %}No records found{% endtrans %}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>  <br>
</div>
{% endblock %}
